@import url('<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">');

body, head {
  font-family: 'Quicksand', sans-serif;
  width: 100vw;
  height: 100vh;
  background: #ebecf1;
}
.cover {
  background: #020a33;
  margin: 3px;
  padding: 50px 30px 50px 30px;
  color: white;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
}
#myname {
  font-size: 5vh;
  color: lightgray;
  font-family: 'Libre Baskerville', serif;
}
.subtitle {
  margin-top: 10px;
  font-size: 2vh;
  color: lightgray;
  opacity: 0.7;
}
.nav-link:active {
  background-color: gray;
}
.nav-item {
  margin: 0px 2px 0px 2px;
}
.about {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.info {
  word-wrap: break-word;
  justify-self: center;
  align-self: center;
}
.profile_img {
  height: 50vh;
  justify-self: center;
  align-self: center;
}
.frontend_projects {
  padding-top: 100px;
  margin: 0px 60px 0px 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project_title {
  margin-top: 7px;
  font-size: 2vh;
}
.project_subtitle {
  margin-top: 3px;
  font-size: 1.7vh;
  text-align: center;
  font-style: italic;
  color: gray;
}
.frontend_imgs {
  max-width: 90%;
  max-height: 300px;
}