@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

h1 {
  font-family: 'Libre Baskerville', serif;;
  color: #aaaaaa;
  padding-top: 25px;
}

h2 {
    color: #00334e;
}